html {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
    display: block;
  }

  body{
    display: block;
    text-align: center;
  }

.cabeçalho {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    justify-content: space-around;
}

header p {
    align-self: center;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

nav ul li {
    width: 40%;
    padding: 2px;
}

article p {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

footer {
    display: block;
    align-items: flex-end;
}
